<!-- Signup Modal -->
<div id="premModal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <h2>Premium Modal</h2>
        <p style="color: white;">Have an account?
            <a href="#" style="color: white;" id="loginPrompt">Login</a>
        </p>
    </div>
</div>
